input, button {
    border: none;
    outline none;
    box-sizing border-box;
}

button {
    cursor pointer;
}

/* fieldset */
.fieldset {

}

/* btn */
.btn {
    display block;
    width 100%;
    outline none;
    height 41px;
    font-family $Arial;
    font-size 14px;
    text-align center;
    padding: 0;
    box-sizing border-box;
    transition all 0.2s ease;
    text-decoration none;

    &:hover {
        opacity 0.8;
        text-decoration none;
    }

    &__green {
        border-radius 5px;
        background #5ca12c;
        color #fff;
        line-height 41px;
        padding-bottom: 3px;

        span {
            display block;
            border-radius 5px;
            background #77c044;
            height 100%;
        }
    }

    &__blue {
        display inline-block;
        vertical-align top;
        max-width 170px;
        width 100%;
        text-align center;
        height 46px;
        line-height 46px;
        background linear-gradient(to bottom, #50cdf7, #2fb9e6);
        border-bottom: 3px solid #2aa5cd;
        font-size 19px;
        color #fff;
        text-decoration none;
        border-radius 4px;
        transition all 0.2s ease;

        &:hover {
            text-decoration none;
            opacity 0.9;
        }
    }
}

/* select */
.select {
    position relative;
    overflow hidden;
    display inline-block;

    &:before {
        position absolute;
        top 1px;
        right: 1px;
        bottom: 1px;
        sprite($arrow-select);
        content "";
    }

    select {
        display inline-block
        vertical-align top
        width 100%;
        height 37px;
        border: 1px solid #dadada;
        background linear-gradient(to bottom, #ffffff, #e5e5e5);
        border-radius: 3px;
        font-family $Roboto;
        font-size 13px;
        color #acacac;
        letter-spacing(25, 13);
        outline none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
        padding: 0 12px;
        box-sizing border-box;
    }

    select::-ms-expand {
       display: none;
   }
}

/* input-text */
.input-text {
    display inline-block;
    vertical-align top
    height 37px;
    border: 1px solid #dadada;
    border-radius: 3px;
    font-family $Roboto;
    font-size 13px;
    color #acacac;
    letter-spacing(25, 13);
    outline none;
    appearance: none;
    padding: 0 12px;
}

/* checkbox */
.checkbox {
    cursor pointer;

    input {
        display none;

        &:checked {
            & ~ i {
                &:before {
                    transform scale(1);
                }
            }
        }
    }

    i {
        position relative;
        float left;
        width: 20px;
        height: 20px;
        border: 1px solid #dadada;
        border-radius 4px;

        &:before {
            position absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin auto;
            width: 12px;
            height: 12px;
            border-radius 4px;
            background #dadada;
            transition all 0.2s ease;
            transform scale(0);
            content "";
        }
    }

    span {
        font-family $Roboto;
        font-size 13px;
        color #acacac;
        letter-spacing(25, 13);
        line-height 22px;
        padding-left: 10px;
        user-select none;
    }
}