.wrapper {
    max-width 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: $NHaasGroteskDSStd-55Rg;
}

a {
    &:hover {
        text-decoration underline;
    }
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.window {

}

.content {
    padding: 30px 0;

    .wrapper {
        clearfix();
    }
}

.container {
    width: 100%;
    box-sizing border-box;

    &--sidebar {
        float left;
    }

    &--right {
        margin-right: -270px;
        padding-right: 297px;
    }

    &--left {
        margin-left: -270px;
        padding-left: 297px;
    }
}

.sidebar {
    position relative;

    &--small {
        float left;
        width: 270px;
    }

}

footer-item(397px, '.window', '.footer');

.verticatfix {
    verticatfix();
}

.warnH {
    padding: 5px 0;
    font-family $MyriadPro;
    border-radius: 5px;
}

.spinner {
    position relative;

    &:before {
        position absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-width: 3px;
        border-color: #000 #000 #fff #fff;
        border-style solid;
        animation rotate 1s infinite linear;
        content "";
    }

    &:after {
        position absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background rgba(255,255,255,0.4);
        box-shadow 0 0 15px 15px rgba(255,255,255,0.4);
        content "";
    }
}

@keyframes rotate {
    to {
        transform rotate(0deg);
    }

    from {
        transform rotate(360deg);
    }
}