.box {
    &__item {
        margin-bottom: 23px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.boxList {
    position relative;
    overflow hidden;
    border: 1px solid #e8edf1;
    box-sizing border-box;
    border-radius 5px;

    &__title {
        font-family $Roboto;
        font-size 17px;
        font-weight bold;
        line-height 20px;
        color #393635;
        background #f2f5f8;
        padding 15px 0 15px 20px;
    }

    &__list {
        li {
            position relative;
            display block;
            border-top: 1px solid #eeeeee;
            box-sizing border-box;

            &:before {
                position absolute;
                right: 25px;
                top: 0;
                bottom: 0;
                margin: auto;
                sprite($arrow-right_v1);
                content "";
            }
        }

        a {
            display block;
            font-family $Roboto;
            font-size 14px;
            line-height 20px;
            color #393635;
            padding 15px 35px 15px 20px;
            text-decoration none;
            background #fff;
            transition all 0.2s ease;

            &:hover {
                background #f8f8f8;
            }
        }
    }

    &__list_best {
        li {
            position relative;
            display block;
            border-top: 1px solid #eeeeee;
            box-sizing border-box;
            core-justify();

            &:before {
                position absolute;
                right: 25px;
                top: 0;
                bottom: 0;
                margin: auto;
                sprite($arrow-right_v1);
                content "";
            }
        }

        .boxList__link {
            display inline-block
            vertical-align middle;
            font-family $Roboto;
            font-size 14px;
            line-height 20px;
            color #393635;
            padding 15px 35px 15px 20px;
            text-decoration none;
            background #fff;
            transition all 0.2s ease;
            margin-left: -30px;
            padding-left: 30px;
            width 100%;
            box-sizing border-box;
            word-break: break-word;
            text-align left;

            &:hover {
                background #f8f8f8;
            }
        }

        .boxList__buy {
            position relative;
            display inline-block
            vertical-align middle
            width: 30px;

            img {
                padding-left: 5px;
            }
        }
    }


}

/* boxBanner */
.boxBanner {
    a {
        display block;
    }

    img {
        max-width 100%;
        border-radius: 4px;
        border: 1px solid #c2c2c2;
    }
}

/* boxUps */
.boxUps {
    border: 1px solid #dadada;
    padding-top: 45px;
    padding-bottom: 25px;

    &__images {
        text-align center;
        margin-bottom: 34px;

        img {
            max-width 100%;
        }
    }

    &__content {
        text-align center;

        span {
            display block;
            font-size 19px;
            color #2f2f2f;
            line-height 24px;
            letter-spacing(25, 19);
        }

        a {
            display block;
            font-size 13px;
            color #376cc7;
            line-height 24px;
            letter-spacing(25, 13);
            text-decoration none;

            &:hover {
                text-decoration underline;
            }
        }
    }
}