/* selectH */
.selectH {
    position relative;

    &__minText {
        font-size 12px;
        line-height 16px;
        color #252525;

        a {
            color #279dc5;
            text-decoration none;
        }
    }

    &__item {
        position relative;

        &:hover {
            .selectHSub {
                visibility visible;
                opacity 1;
            }
        }
    }

    &__title {
        position relative;
        display inline-block;
        vertical-align top;
        font-size 14px;
        line-height 16px;
        font-weight bold;
        color #252525;
        padding-right: 10px;
        cursor pointer;

        &:after {
            position absolute;
            top: 8px;
            right: 0;
            triangle(down, 3px, #000);
        }
    }
}

/* selectHSub */
.selectHSub {
    position absolute;
    visibility hidden;
    opacity 0;
    right -32px;
    top: calc(100%);
    width 220px;
    transition all 0.2s ease;
    padding-top: 30px;
    z-index 100;

    &__box {
        position relative;
        box-sizing border-box;
        background #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 3px;

        &:after {
            position absolute;
            top: -4px;
            right: 34px;
            triangle(up, 4px, #fff);
            content "";
        }

        &:before {
            position absolute;
            top: -5px;
            right: 34px;
            triangle(up, 5px, #e1e1e1);
            content "";
        }
    }

    &__log {
        .fieldset {
            padding: 18px 14px 0;
        }
    }

    &__list {
        font-family $Arial;
        font-size 13px;
        line-height 44px;

        li {
            display block;
            border-bottom: 1px solid #e1e1e1;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        a {
            display block;
            height 44px;
            color #747474;
            text-decoration none;
            padding: 0 16px;
            background #fff;
            transition all 0.2s ease;

            &:hover {
                background #f8f8f8;
            }

            span {
                color #3da1da;
            }
        }
    }

    &__catalog {
        font-family $Arial;
        font-size 13px;
        line-height 20px;
        border-bottom: 1px solid #e1e1e1;

        &:last-of-type {
            border-bottom: 0;
        }

        li {
            display block;
            border-bottom: 1px solid #e1e1e1;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        a {
            display block;
            color #747474;
            text-decoration none;
            padding: 12px 16px;
            background #fff;
            transition all 0.2s ease;

            &:hover {
                background #f8f8f8;
            }

            span {
                color #3da1da;
            }
        }
    }
}

/* breadCrumbs */
.breadCrumbs {
    padding: 20px 0;

    &__list {
        clearfix();
        padding: 0 3px;

        li {
            position relative;
            float left;
            font-family $Arial;
            font-size 13px;
            line-height 31px;
            color rgba(255,255,255,0.4);
            margin-right: 38px;
            letter-spacing(25, 13);

            &:last-of-type {
                &:before {
                    display none;
                }
            }

            &:before {
                position absolute;
                top 0;
                bottom 0;
                right -20px;
                margin auto;
                sprite($arrow-right);
                content "";
            }

            a {
                color #fff;
                text-decoration none;

                &:hover {
                    text-decoration underline;
                }
            }
        }
    }
}

/* grid */
.grid {
    clearfix();

    &__item {
        position relative;
        overflow hidden;
        float left;
        width 31%;
        margin-right: 3%;
        margin-bottom: 3%;
        border: 1px solid #e1e1e1;
        border-radius 4px;
        box-shadow 5px 5px 15px 2px rgba(0,0,0,0.1);
        min-height 265px;
        transition all 0.2s ease;
        padding-bottom: 45px;

        &:hover {
            box-shadow 5px 5px 25px 2px rgba(0,0,0,0.1);
        }

        &:nth-of-type(3n + 3) {
            margin-right: 0;
        }

        &:nth-of-type(3n + 4) {
            clear both;
        }

        & > a {
            display block;
            text-align center;
            padding: 28px 10px 15px;
            text-decoration none;

            img {
                max-width: 100%;
                height 130px;
                margin-bottom: 38px;
            }
        }
    }

    &__title {
        display block;
        font-family $OpenSans;
        font-weight bold;
        font-size 18px;
        line-height 18px;
        color #000;
    }

    &__price {
        display block;
        font-family $NHaasGroteskDSStd-75Bd;
        font-weight bold;
        font-size 19px;
        line-height 24px;
        color #252525;
        padding: 38px 0;

        .old {
            font-size 15px;
            text-decoration line-through;
            color #9f9f9f;
            margin-right: 4px;
        }

        .new {
            color #c94848;
        }
    }

    &__button {
        text-align center;
    }

    &__linkB {
        display inline-block;
        vertical-align top;
        max-width 170px;
        width 100%;
        text-align center;
        height 46px;
        line-height 46px;
        background linear-gradient(to bottom, #50cdf7, #2fb9e6);
        border-bottom: 3px solid #2aa5cd;
        font-size 19px;
        color #fff;
        text-decoration none;
        border-radius 4px;
        transition all 0.2s ease;

        &:hover {
            text-decoration none;
            opacity 0.9;
        }
    }
}

/* pagination */
.pagination {
    clearfix();
    text-align center;
    font-size 0;
    padding: 30px 0;
    border-top: 1px solid #e3e3e3;

    &__page {
        float left;
        height 35px;
        padding: 0 14px;
        font-family $Roboto;
        font-size 12px;
        line-height 35px;
        color #000000;
        transition all 0.2s ease;
        user-select none;
        border-right: 1px solid #cccccc;
        text-decoration none;

        &:last-child {
            border-right: none;
        }
    }

    div.pagination__page {
        cursor default;
    }

    a.pagination__page {
        cursor pointer;
        text-decoration none;
        background #fff;

        &:hover {
            background linear-gradient(to bottom, #ffffff, #f2f5f8);
        }
    }
        
    &__box {
        position relative;
        overflow hidden;
        display inline-block;
        vertical-align top;
        border: 1px solid #cccccc;
        border-radius: 4px;
        margin: 0 10px;
        clearfix();
    }

    &__pn {
        position relative;
        overflow hidden;
        display inline-block;
        vertical-align top;
        border: 1px solid #cccccc;
        border-radius: 4px;
        clearfix();

        a {
            float left;
            height 35px;
            padding: 0 14px;
            font-family $Roboto;
            font-size 12px;
            line-height 35px;
            color #000000;
            transition all 0.2s ease;
            user-select none;
            text-decoration none;
            background #fff;

            &:hover {
                background linear-gradient(to bottom, #ffffff, #f2f5f8);
            }
        }
    }

    &__next {
        .pagination__button {
            &:after {
                display inline-block;
                vertical-align top;
                margin-top: 14px;
                margin-left: 5px;
                sprite($arrow-pagination);
                content "";
            }
        }

        .pagination__page {
            border-right: 1px solid #cccccc;
        }
    }

    &__prev {
        margin-right: 10px;

        .pagination__button {

            &:before {
                display inline-block;
                vertical-align top;
                margin-top: 14px;
                margin-right: 5px;
                sprite($arrow-pagination);
                transform rotate(180deg);
                content "";
            }
        }
    }

    &__button {

    }

    &__dot {
        display inline-block;
        vertical-align top;
        height 35px;
        padding: 0 6px;
        font-family $Roboto;
        font-size 12px;
        line-height 35px;
        color #000000;
    }
}

/* filter */
.filter {
    border: 2px solid #b1eaff;
    border-radius: 4px;
    padding: 20px 39px;
    box-sizing border-box;
    margin-bottom: 28px;

    form {
        font-size 0;
        core-justify();
    }

    &__title {
        font-family $Roboto;
        font-size 15px;
        line-height 33px;
        color #1d1d1d;
    }

    &__item {
        display inline-block;
        vertical-align bottom;
        margin-right: 32px;
        width 20%;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__content {

    }

    &__line {
        font-family Arial;
        font-size 13px;
        line-height 37px;
        color #dadada
        padding: 0 5px;
    }

    .btn {
        max-width: 170px;
        font-size 15px;
        font-family $Roboto;
    }
}

/* decorLink */
.decorLink {
    core-justify();
    margin-bottom: 22px;

    li {
        display inline-block
        vertical-align top
        width (100% / 4);
        padding: 0 10px;
        box-sizing border-box

        &:last-of-type {
            padding-right: 0;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }

    a {
        display block;
        padding 10px;
        color #fff;
        text-decoration none;
        font-family $Roboto;
        font-size 15px;
        background linear-gradient(to bottom,#50cdf7,#2fb9e6);
        border-radius: 5px;
        text-align center;
        transition all 0.2s ease;

        &:hover {
            opacity 0.9;
        }
    }
}

/* order */
.order {
    &__title {
        font-size: 22px;
        color: #474747;
        padding: 0 0 20px;
    }

    .border {
        width: 100%;
        border: 1px solid #f2f5f8;

        table {
            width: 100%;
        }

        td, th {
            border-right: 1px solid #f2f5f8;

            &:last-of-type {
                border: none;
            }
        }

        .bgH {
            td, th {
                font-family $Roboto;
                font-size 14px;
                line-height 32px;
                letter-spacing(20, 14);
                color: #b4bbc2;
                text-align left;
                padding: 0 20px;
            }
        }

        .bg {
            border-top: 1px solid #dee2e7;

            td {
                padding: 25px 20px;
                vertical-align top;
                font-family $Arial;
                font-size 16px;
                line-height 22px;
                letter-spacing(25, 16);
                color #1a1a1a;
                text-align left;

                &[nowrap] {
                    font-family $Roboto;
                    font-weight bold;
                    font-size 16px;
                    letter-spacing(20, 16);
                    color #ee2727;
                }
            }

            input[type="checkbox"] {
                margin: 0;
                height: 37px;
                width: 37px;
                border: 1px solid #000;
            }

            input[type="text"] {
                display inline-block;
                vertical-align top
                height 37px;
                border: 1px solid #f2f5f8;
                border-radius: 3px;
                font-family $MyriadPro;
                font-size 20px;
                color #acacac;
                letter-spacing(50, 20);
                outline none;
                appearance: none;
                padding: 0 12px;
                transition all 0.2s ease;
                text-align center;

                &:focus {
                    border-color #3da1da;
                    box-shadow 0 0 7px 1px rgba(61,161,218,1);
                }
            }
        }

        .bgHl {
            border-top: 1px solid #dee2e7;

            td {
                padding: 12px 0 0 0;
                font-family $MyriadPro;
                font-size 18px;
                line-height 32px;
                letter-spacing(20, 18);
                color #000000;

                b {
                    color: #ee2727;
                }

                &:last-of-type {
                    padding-left: 0;
                    padding-right: 20px;
                    padding-top: 0;
                }
            }

            .button {
                display inline-block;
                width 100%;
                outline none;
                height 43px;
                font-family $Arial;
                font-size 17px;
                text-align center;
                padding: 0;
                box-sizing border-box;
                transition all 0.2s ease;
                text-decoration none;
                border-radius 5px;
                background #797b7e;
                border-bottom: 3px solid #a1a3a0;
                color #fff;
                line-height 43px;
                cursor pointer;
                letter-spacing(20, 17);

                span {
                    display block;
                    border-radius 5px;
                    background #77c044;
                    height 100%;
                }

                &:hover {
                    opacity 0.8;
                    text-decoration none;
                }
            }
        }
    }
}