.category {

    &__description {
        font-family $Roboto;
        font-size 16px;
        line-height 18px;
        margin-bottom: 10px;

        p {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.newsShort {
    &__item {
        margin-bottom: 30px;

        +breakpoint($media-768, 'max-width') {
            margin-bottom: 15px;
        }
    }

    &__title {
        margin-bottom: 15px;

        +breakpoint($media-768, 'max-width') {
            margin-bottom: 5px;
        }

        a {
            font-family $TimesNewRoman;
            font-size 25px;
            line-height 30px;
            letter-spacing(25, 10);
            color #000;
            text-decoration none;
            transition color 0.2s ease;

            &:hover {
                color #2db7e5;
            }

            +breakpoint($media-768, 'max-width') {
                font-size 20px;
                line-height 25px;
                letter-spacing(20, 10);
            }
        }
    }

    &__content {
        font-family $Roboto;
        font-size 15px;
        line-height 22px;
        letter-spacing(15, 10);
        color #919191;

        +breakpoint($media-768, 'max-width') {
            font-size 13px;
            line-height 18px;
            letter-spacing(13, 10);
        }
    }
}

.newsShortNav {
    +breakpoint($media-768, 'max-width') {
        text-align center
    }

    &__content {
        display inline-block;
        vertical-align top
        border: 1px solid #cccccc;
        border-radius 5px;
    }

    b, a {
        float left;
        height: 35px;
        line-height: 35px;
        padding 0 10px;
        border-right: 1px solid #cccccc;
        text-align center;
        font-family $Roboto
        font-size 12px
        color #000;
        transition all 0.2s ease;

        +breakpoint($media-768, 'max-width') {
            font-size 10px
            padding 0 5px;
            height: 25px;
            line-height: 25px;
        }

        &:last-child {
            border-right: none;
        }

        &:hover {
            background #7d7e7c;
            color: #fff;
        }
    }

    a {
        text-decoration none;
    }

    b {
        background #7d7e7c;
        color: #fff;
    }

}

.newsLong {
    &__title {
        font-family $TimesNewRoman
        font-size 36px;
        line-height 27px
        color #000;
        margin-bottom 20px
    }

    &__date {
        font-family $Roboto
        font-size 13px;
        line-height 27px
        color #9a9a9a;
        letter-spacing(13, 10);
        margin-bottom 20px
    }

    &__content {
        font-family $Arial
        font-size 17px;
        line-height 27px
        color #2d2d2d;
        margin-bottom 5px
    }

    &__source {
        a {
            font-family $Arial
            font-size 17px;
            line-height 18px
            color #2d2d2d;

            &:hover {
                text-decoration none;
            }
        }
    }
}