.page {
    &__title {
        font-family $OpenSans
        font-size: 22px;
        color: #474747;
        padding: 10px 0;

        &.pb {
            padding-bottom: 30px;
        }
    }

    &__content {
        font-family $Roboto
        font-size 16px;
        line-height 18px;
        color #474747

        p {
            margin-bottom: 10px;
        }

        a {
            color #474747

            &:hover {
                text-decoration none;
            }
        }

        img {
            max-width 100%
            height auto
        }

        i {
            font-style italic
        }

        b, strong {
            font-weight bold
        }

        u {
            text-decoration line-through
        }
    }
}