.footer {
    background #2db7e5;
    padding-top: 64px;

    +breakpoint($media-480, 'max-width') {
        padding-top: 32px;
    }

    &__top {
        core-justify();
        padding-bottom: 74px;

        +breakpoint($media-1024, 'max-width') {
            padding-bottom: 30px;
        }
    }

    &__item {
        display inline-block;
        vertical-align top;
        width: (100% / 6);

        +breakpoint($media-1024, 'max-width') {
            text-align center
            width: (100% / 3);
        }

        +breakpoint($media-480, 'max-width') {
            width 100%
            margin-bottom 10px;
        }

        &_form {
            width: (100% / 4);

            +breakpoint($media-1024, 'max-width') {
                width: (100%);
                padding: 30px 0;
            }
        }

        &_soc {
            width: (100% / 8);

            +breakpoint($media-1024, 'max-width') {
                width: (100%);
            }
        }
    }

    &__title {
        font-size 18px;
        line-height 31px;
        letter-spacing(25, 18);
        color #fff;
        margin-bottom: 13px;
    }

    &__list {
        li {
            display block;
        }

        a {
            font-size 15px;
            line-height 31px;
            letter-spacing(25, 15);
            color rgba(255,255,255,0.6);
            text-decoration none;

            i {
                color #fff;
                margin-right: 5px;
            }

            &:hover {
                text-decoration underline;
            }
        }
    }

    &__botton {
        border-top: 1px solid rgba(255,255,255,0.2);
        padding: 45px 0;
        clearfix();

        +breakpoint($media-1024, 'max-width') {
            padding: 25px 0;
        }
    }

    &__itemB {
        float left;
        width 50%;

        span {
            font-size 15px;
            line-height 31px;
            letter-spacing(25, 15);
            color rgba(255,255,255,0.4);

            +breakpoint($media-480, 'max-width') {
                font-size 12px;
            }
        }

        a {
            font-size 15px;
            line-height 31px;
            letter-spacing(25, 15);
            color rgba(255,255,255,0.6);
            text-decoration none;
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0;
            }

            &:hover {
                text-decoration underline;
            }

            +breakpoint($media-480, 'max-width') {
                margin-right: 0;
                font-size 12px;
            }
        }
    }
}

/* footerSoc */
.footerSoc {
    li {
        display block;
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom 0;
        }

        +breakpoint($media-1024, 'max-width') {
            display inline-block
            vertical-align top
            margin-bottom 0;
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0
            }
        }
    }

    a {
        display block;
        width: 54px;
        height: 54px;
        background #fff;
        color #2db7e5;
        border-radius 50%;
        line-height 54px;
        text-align center;
        text-decoration none;
        font-size 22px;
    }
}