.header {
    background: #2db7e5;
    padding: 35px 0 0;
}

.headerBoxFix {
    background: #ffffff;
    border-radius: 5px;
    font-size 0
    core-justify();
    transition box-shadow 0.2s ease;

    &.fixed {
        +breakpoint($media-768, 'min-width') {
            position fixed;
            top: 0;
            max-width: 1170px;
            width calc(100% - 20px);
            z-index 100
        }
    }

    &.shadow {
        +breakpoint($media-768, 'min-width') {
            box-shadow 0 0 25px 5px rgba(45, 183, 229, 0.2);
        }
    }
}

.headerBox {
    &__logo {
        a {
            display: block;
        }
    }

    &__item {
        display inline-block
        vertical-align top
        height 65px;
        box-sizing: border-box;
    }

    &__status {
        padding: 18px 21px 18px 19px;
        border-right: 1px solid #e2e2e2;

        +breakpoint($media-1024, 'max-width') {
            display block
            border-right: none;
            border-bottom: 1px solid #e2e2e2;
        }
    }

    &__select {
        position relative
        padding: 16px 10px;
    }

    &__search {
        width 100%;
        margin-left: -90px;
        padding-left: 90px;
        box-sizing border-box;

        +breakpoint($media-1024, 'max-width') {
            width auto;
        }
    }

    &__list {
        +breakpoint($media-480, 'max-width') {
            width 100%;
            border-bottom 1px solid #e2e2e2;
        }
    }

    &__account {

    }

    &__box {
        verticatfix();
        box-sizing border-box;
    }

    &__top {
        display inline-block
        vertical-align top
        box-sizing border-box

        +breakpoint($media-1024, 'max-width') {
            width 100%
            text-align center
        }
    }

    &__middle {
        display inline-block
        vertical-align top
        box-sizing border-box

        +breakpoint($media-1024, 'max-width') {
            width 50%
            text-align center
            border-right: 1px solid #e2e2e2;
        }

        +breakpoint($media-768, 'max-width') {
            width 100%
            border-right: none;
            border-bottom: 1px solid #e2e2e2;
        }
    }

    &__bottom {
        display inline-block
        vertical-align top
        font-size 0;
        box-sizing border-box

        +breakpoint($media-1024, 'max-width') {
            width 50%
            text-align center
        }

        +breakpoint($media-768, 'max-width') {
            width 100%
        }
    }
}


/* statusH */
.statusH {
    font-size 0

    &__circle {
        position relative;
        display inline-block
        vertical-align top
        border-radius 50%;
        background #2db7e5;
        width 29px;
        height 29px;
    }

    &__status {
        position absolute;
        right -2px;
        top 0;
        width 11px;
        height 11px;
        border-radius 50%;
        border: 2px solid #fff;
        box-sizing border-box;

        &_green {
            background #7bc244;
        }

        &_red {
            background red;
        }
    }

    &__text {
        display inline-block
        vertical-align top
        line-height 18px;
        padding-left: 10px;
        padding-top: 7px;
        font-size: 16px;
        color: #279dc5;
    }

    a {
        display block;
        clearfix();
    }
}



/* searchH */
.searchH {
    &__box {
        padding 10px 0;
        max-width: 270px;
        width: 100%;
        clearfix();
    }

    &__input {
        float left;
        width 100%;
        height 44px;
        border: 1px solid #dadada;
        border-radius 3px;
        background #ffffff;
        letter-spacing(50, 13);
        padding-left: 18px;
        padding-right: 65px;
        margin-right: -45px;
    }

    &__button {
        position relative;
        float left;
        width: 45px;
        height 44px;
        border: 1px solid #dadada;
        border-radius 0 3px 3px 0;
        background #eeeded;

        &:before {
            display inline-block;
            sprite($search-icon);
            content "";
        }
    }
}

/* listH */
.listH {
    verticatfix();
    padding-right: 30px;

    +breakpoint($media-320, 'max-width') {
        padding-right: 0;
        display block
    }

    &__item {
        display inline-block;
        vertical-align middle;
        border-right: 1px solid #e6e6e6;
        padding: 0 10px;

        +breakpoint($media-1120, 'max-width') {
            padding: 0 5px;
        }

        &:last-of-type {
            border-right: none;
        }

        a {
            display block;
            font-family $MyriadPro;
            font-size 14px;
            line-height 16px;
            color #616161;
            letter-spacing(50, 14);

            +breakpoint($media-1120, 'max-width') {
                font-size 11px;
            }

            &:hover {
                text-decoration none;
            }
        }
    }
}

.headerBox__account {
    clearfix();

    .headerBox__box {
        float left;
    }

    .selectH {
        display inline-block;
        padding: 0 10px;
    }

    .headerBox__bag {
        padding 10px 25px 10px 0;

        +breakpoint($media-1024, 'max-width') {
            padding 10px 0 10px 0;
        }
    }
}


/* bagH */
.bagH {
    display block
    width 33px;
    height 100%;
    background #2db7e5;
    border-radius 3px;
    text-align center;
    text-decoration none;
    color #fff;

    &:hover {
        text-decoration none;
    }

    &__number {
        display block;
        font-size 11px;
        line-height 16px;
        letter-spacing(50, 11);
        color #fff;
        margin-bottom 2px;
        padding-top: 2px;
    }

    &__icon {
        display block;

        &:before {
            display inline-block;
            vertical-align top;
            sprite($bag);
            content "";
        }
    }
}


/* headerLogin */
.headerLogin {
    display inline-block;
    vertical-align middle;
    padding-right: 6px;

    +breakpoint($media-1120, 'max-width') {
        padding-right: 3px;
    }

    &__box {
        display block;
        margin-bottom: 4px;
        clearfix();

        &:last-of-type {
            margin-bottom: 0;
        }

        li {
            float left
            border-right: 1px solid #e6e6e6;
            padding: 0 8px;

            &:last-of-type {
                padding-right: 0;
                border-right none;
            }

            &:first-of-type {
                padding-left: 0;
            }
        }

        a {
            display block;
            font-family $MyriadPro;
            font-size 14px;
            line-height 16px;
            letter-spacing(50, 14);
            color #616161;

            +breakpoint($media-1120, 'max-width') {
                font-size 11px;
            }

            &:hover {
                text-decoration none;
            }
        }
    }

    &_join {
        li {
            padding: 0;
        }
    }
}