/* Raleway */
$Raleway = 'Raleway', 'FontAwesome', sans-serif;

/* Raleway */
$Arial = 'Arial', sans-serif;

/* FontAwesome */
$FontAwesome = 'FontAwesome', sans-serif;

/* Roboto */
$Roboto = 'Roboto', sans-serif;

/* NHaasGroteskDSStd */
$NHaasGroteskDSStd-25Th = 'NHaasGroteskDSStd-25Th', sans-serif;
$NHaasGroteskDSStd-35XLt = 'NHaasGroteskDSStd-35XLt', sans-serif;
$NHaasGroteskDSStd-55Rg = 'NHaasGroteskDSStd-55Rg', sans-serif;
$NHaasGroteskDSStd-75Bd = 'NHaasGroteskDSStd-75Bd', sans-serif;
$NHaasGroteskDSStd-95Blk = 'NHaasGroteskDSStd-95Blk', sans-serif;

/* media */
$media-768 = 768;
$media-640 = 640;
$media-480 = 480;
$media-320 = 320;