/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
            $arrow-pagination = 58px 45px -58px -45px 5px 7px 67px 52px 'sprite.png' 'arrow-pagination';
            $arrow-right = 58px 19px -58px -19px 5px 8px 67px 52px 'sprite.png' 'arrow-right';
            $arrow-right_v1 = 58px 32px -58px -32px 5px 8px 67px 52px 'sprite.png' 'arrow-right_v1';
            $arrow-select = 0px 0px 0px 0px 30px 35px 67px 52px 'sprite.png' 'arrow-select';
            $arrow-slider = 58px 0px -58px 0px 9px 14px 67px 52px 'sprite.png' 'arrow-slider';
            $bag = 35px 0px -35px 0px 18px 18px 67px 52px 'sprite.png' 'bag';
            $cup = 0px 40px 0px -40px 11px 12px 67px 52px 'sprite.png' 'cup';
            $star = 35px 23px -35px -23px 12px 12px 67px 52px 'sprite.png' 'star';
        $spritesheet-sprites = $arrow-pagination $arrow-right $arrow-right_v1 $arrow-select $arrow-slider $bag $cup $star ;
        $spritesheet = 67px 52px 'sprite.png' $spritesheet-sprites;


